body{
    background-color: black;

}
.profileScreen{
    height: 100vh;
    color: white;
}

.profileScreen_body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    max-width: 800px;
    border: 1px solid;
    border-image: linear-gradient(0deg, #3498db, #f39c12, #e74c3c, #9b59b6) 1;
    padding: 3% 3%;
}


.profileScreen_info {
    display: flex;
}
.profileScreen_info h1{

  
padding: 15px;
font-size: 60px;
font-weight: 600;
border-bottom: 1px solid white;
margin-bottom: 20px;
}
.profileScreen_info h4{
    padding: 10px 10px;
}
.profileScreen_info h3{

background-color: gray;
padding: 15px;
font-size: 25px;
padding-left: 20px;
}
.profileScreen_info img{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
.profileScreen_details{
    color: white;
    margin-left: 250px;
    flex: 1;
}
.profileScreen_signout{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    background-color: rgb(255, 7, 7);
    color: white;
}
.indicidul-palans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: gray; */
    padding: 10px 10px;
 
}
.right-contents .suscribe-btn{
    background-color:rgb(255, 7, 7); ;
    color: white;
    padding-top:5px ;
    padding-bottom: 8px;
    border: 0;
}
.current-plans{
    display: flex;
    flex-direction: column;
}
.renewal{
    margin-left: 10px;
    font-weight: 600;
    color: #f39c12;
}
.current-Pack-btn{
    background-color: grey;
    padding: 10px;
    color: white;
}
.current-Pack-btn:hover{
    background-color: rgb(193, 190, 190);
    padding: 10px;
    color: black;
}

